# -------------------------------
# Aliases
# -------------------------------
alias ls='ls --color'
alias vim='nvim'
alias c='clear'
alias cat='bat'
alias touchpad-off='sudo systemctl start touchpad-toggle.service'
alias touchpad-on='sudo systemctl stop touchpad-toggle.service'
alias integrated='sudo envycontrol -s integrated && reboot'
alias hybrid='sudo envycontrol -s hybrid && reboot'

alias turbo-off='echo "[Unit]\nDescription=Disable Intel Turbo Boost\nAfter=multi-user.target\n\n[Service]\nType=oneshot\nExecStart=/bin/sh -c \"echo 1 > /sys/devices/system/cpu/intel_pstate/no_turbo\"\nRemainAfterExit=yes\n\n[Install]\nWantedBy=multi-user.target" | sudo tee /etc/systemd/system/disable-turbo.service > /dev/null && sudo systemctl daemon-reload && echo "1" | sudo tee /sys/devices/system/cpu/intel_pstate/no_turbo && sudo systemctl enable disable-turbo.service'

alias turbo-on='echo "0" | sudo tee /sys/devices/system/cpu/intel_pstate/no_turbo && sudo systemctl disable disable-turbo.service'

alias turbo='if [ $(cat /sys/devices/system/cpu/intel_pstate/no_turbo) -eq 0 ]; then echo "Turbo is ON"; else echo "Turbo is OFF"; fi'
